<%	if @user.admin %>
	<p><strong><%= 'ADMIN' %></strong></p>
<% end %>
<h2><%= @user.name %></h2> 
<p><strong>Mood:</strong> <%= @user.mood %></p>
<p><strong>Nausea:</strong> <%= @user.nausea %></p>
<p><strong>Happiness:</strong> <%= @user.happiness %></p>
<p><strong>Tickets:</strong> <%= @user.tickets %></p>
<p><strong>Height (inches):</strong> <%= @user.height %></p>


<br>
<%= link_to 'Log Out', delete_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<br></br>
<h3><%= link_to 'See attractions', attractions_path %></h3>
 <% if admin? %>
 <br></br>
   <h3> <%= link_to 'New Attraction', new_attraction_path %></h3>
 <% end %>

<br>
<%= flash[:message]  %>
<br>
